<div class="card-container">
  <div class="card-header">
    <a class="card">
      <span>Calculate</span>
    </a>
    <a class="card">
      <span>Data</span>
    </a>
  </div>
  <div class="card-body">
    <div class="card-input" style="display: flex">
        <input
      class="custom-input"
      maxlength="7"
      value="0.00000"
      style="color: #38b000"
    />
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>+ 5%</button>
      <button mat-menu-item>+ 10%</button>
      <button mat-menu-item>+ 20%</button>
      <button mat-menu-item>- 5%</button>
      <button mat-menu-item>- 10%</button>
      <button mat-menu-item>- 20%</button>
    </mat-menu>
    </div>
    <p class="custom-input" maxlength="7" value="0.00000">0.00000</p>
  </div>
</div>
